@mixin a($color, $border-bottom, $hover-color, $hover-border-bottom, $active-color, $active-border-bottom)
{
    color: $color;
    text-decoration: none;
    border-bottom: $border-bottom;

    transition: all 500ms ease;

    &:visited
    {
        color: $color;
        border-bottom: $border-bottom;
    }

    &:hover, &:focus
    {
        color: $hover-color;
        border-bottom: $hover-border-bottom;
    }

    &:active
    {
        color: $active-color;
        border-bottom: $active-border-bottom;
    }
}

%__font-center
{
    // font-family: Arial, Helvetica, sans-serif;
    font-family: "Roboto", sans-serif;

    text-align: center;
}
