@import "mixins";
@import "lightmode";
@import "darkmode";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

@mixin body-lightmode()
{
    --page-background-color: #{$default-light-color-1};
    
    --header-color: #{$default-light-color-2};

    --footer-color: #{$default-light-color-2};

    --footer-a-color: #{$default-light-color-2};
    --footer-a-hover-color: #{$default-light-color-2};
    --footer-a-active-color: #{$default-light-color-3};

    font-weight: 300;
}

@mixin body-darkmode()
{
    --page-background-color: #{$default-dark-color-1};
    
    --header-color: #{$default-dark-color-2};

    --footer-color: #{$default-dark-color-2};

    --footer-a-color: #{$default-dark-color-2};
    --footer-a-hover-color: #{$default-dark-color-2};
    --footer-a-active-color: #{$default-dark-color-3};

    font-weight: 300;
}

body,
body.lightmode
{
    @include body-lightmode();
}

body.darkmode
{
    @include body-darkmode();
}

html, body
{
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    background-color: var(--page-background-color);

    transition: background 500ms;
}

.header
{
    width: 95%;

    position: absolute;
    top: 50%;

    padding: 0 2.5%;

    transform: translateY(-50%);

    color: var(--header-color);

    transition: color 500ms;

    &__title
    {
        @extend %__font-center;

        font-size: 36px;
    }

    &__subtitle
    {
        @extend %__font-center;

        font-size: 28px;
    }
}

.footer
{
    position: absolute;
    bottom: 0;

    width: 95%;
    
    padding: 8px 2.5%;

    color: var(--footer-color);

    transition: color 500ms;

    div
    {
        @extend %__font-center;

        margin-bottom: 12px;

        font-size: 16px;

        a
        {
            @include a(var(--footer-a-color), 1px solid var(--footer-a-color), var(--footer-a-hover-color), none, var(--footer-a-active-color), none);
        }
    }

    div:last-child
    {
        margin-bottom: 0;
    }

    &__modeswitch
    {
        .switch
        {
            margin: 0 auto;
        }
    }
}

.switch
{
    width: 35px;
    height: 15px;

    padding: 2.5px;

    border: 1px solid var(--footer-color);
    border-radius: 10px;

    background: var(--footer-color);

    cursor: pointer;

    transition: background 500ms;

    &__slider
    {
        position: relative;

        left: 0;

        width: 15px;
        height: 15px;

        border: 0 solid var(--footer-color);
        border-radius: 15px;

        background: var(--page-background-color);

        transition: left 500ms, background 500ms;
    }

    &--active
    {
        .switch__slider
        {
            left: 19px;
        }
    }
}

@media (prefers-color-scheme: light)
{
    body
    {
        @include body-lightmode();
    }
}

@media (prefers-color-scheme: dark)
{
    body
    {
        @include body-darkmode();
    }
}
